* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    height: 1vh;
    background-color: #fff; /* set the background color of the body to white */
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 200px;
    background-color: blue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.menu ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 60px;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    background-color: #006400;
}

main {
    margin-left: 200px;
    padding: 60px 20px 20px;
}

.ebook-table {
    width: 100%;
    border-collapse: collapse;
}

.ebook-table th,
.ebook-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.ebook-table th {
    background-color: #f2f2f2;
}
