<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aptitude Test</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CARRIER/aptitude_test.css' %}">
</head>
<body>
<header class="header">
    <nav class="menu">
           <ul>
             <li><a href="{% url 'welcome_dashboard' %}">Home</a></li>
                <li><a href="{% url 'ebook_list' %}">Ebooks</a></li>
                <li><a href="{% url 'college_list' %}">College List</a></li>
                <li><a href="{% url 'aptitude_test' %}">Aptitude Test</a></li>
                <li><a href="{% url 'login' %}">Logout</a></li>
            </ul>
    </nav>
</header>
<div class="content-container">
    <div class="menu-container">
        <!-- Menu content here -->
    </div>
    <div class="form-container">
        <h1 class="test-heading">APTITUDE TEST</h1>
        <form method="post" action="{% url 'aptitude_test_submit' %}">
            {% csrf_token %}
            {% for question in questions %}
                <p class="question">{{ question.question_text }}</p>
                {% for option in question.option_set.all %}
                    <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}"> {{ option.option_text }}<br>
                {% endfor %}
                <br> <!-- Add additional gap between options -->
            {% endfor %}
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
