<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CARRIER/login_style.css' %}">
</head>
<body>
    <header class="header">
        <div class="banner">
            <img src="{% static 'CARRIER/carrier.png' %}" alt="Website Banner">
        </div>
    </header>
    <div class="form-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            <label for="id_username">Username:</label>
            <input type="text" id="id_username" name="username">
            <label for="id_password">Password:</label>
            <input type="password" id="id_password" name="password">
            <button type="submit">Login</button>
        </form>
        <p>Not registered yet? <a href="{% url 'register' %}">Register</a></p>
    </div>
</body>
</html>
